{% assign bundle_1 = product.metafields.custom.product_bundle_1.value %}
<div>
  <select>
    {% for item in bundle_1 %}
      {% for variant in item.product_variants.value %}
        <option value="{{ option }}">
          {{ variant.product.title }}
        </option>
      {% endfor %}
    {% endfor %}
  </select>
</div>

{% style %}
{% endstyle %}
