<div class="flo_bundles">
  {% for bundle in product.metafields.flo_product_bundle %}
    {{ bundle | json }}
    <div>
      {% for metaobject in bundle.value %}
        {{ metaobject | json }}
        {% assign quantity = metaobject.variant_quantity | times: 1 %}
        {% for product_quantity in (1..quantity) %}
          <select>
            {% for variant in metaobject.product_variants.value %}
              <option value="{{ variant.id }}">
                {{ variant.product.title }}
              </option>
            {% endfor %}
          </select>
        {% endfor %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% style %}
  .flo_bundles{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
{% endstyle %}
