bundles here 1

{{ product.title }}

{{ product.metafields.product_bg_color }}

<div>
  {% for metafield in product.metafields %}
    1
    {{ metafield.type }}
  {% endfor %}
</div>

{% style %}
{% endstyle %}
