{% assign bundle_1 = product.metafields.custom.product_bundle_1.value %}
<div>
  {% assign quantity = bundle_1.variant_quantity | times: 1 %}
  {% for product_quantity in (1..quantity) %}
    <select>
      {% for variant in bundle_1.product_variants.value %}
        <option value="{{ variant.id }}">
          {{ variant.product.title }}
        </option>
      {% endfor %}
    </select>
  {% endfor %}
</div>

{% style %}
{% endstyle %}
