{% assign bundle_1 = product.metafields.custom.product_bundle_1.value %}
<div>
  {% for variants in bundle_1.product_variants.value %}
    {{ variants | json }}
    {% for variant in variants.value %}
      {{ variant | json }}
    {% endfor %}
  {% endfor %}
</div>

{% style %}
{% endstyle %}
