{% assign bundle_1 = product.metafields.flo_product_bundle.product_bundle_1.value %}
<div class="flo_bundles">
  {% for metaobject in bundle_1 %}
    {% assign quantity = metaobject.variant_quantity | times: 1 %}
    {% for product_quantity in (1..quantity) %}
      {{ metaobject.product_title.value }}
      {{ metaobject.product_title | json }}
      <select>
        {% for variant in metaobject.product_variants.value %}
          <option value="{{ variant.id }}">
            {{ variant.product.title }}
          </option>
        {% endfor %}
      </select>
    {% endfor %}
  {% endfor %}
</div>

{% style %}
  .flo_bundles {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
{% endstyle %}
