bundles here 1

<div>
  {{ product.metafields.custom.product_bundle_1 }}
  <ul>
    {% for item in product.metafields.custom.product_bundle_1 %}
      <li>
        {{ item.product_bundle_item.product }}
      </li>
    {% endfor %}
  </ul>
</div>

{% style %}
{% endstyle %}
