{% assign bundle_1 = product.metafields.custom.product_bundle_1.value %}
<div>
  {% for _ in (0..{{ item.product_quantity }} %}
    <select>
      {% for item in bundle_1 %}
        {% for variant in item.product_variants.value %}
          <option value="{{ variant.id }}">
            {{ variant.product.title }}
          </option>
        {% endfor %}
      {% endfor %}
    </select>
  {% endfor %}
</div>

{% style %}
{% endstyle %}
