bundles here 1

<div>
  <ul>
    {% for item in product.metafields.custom.product_bundle_1.value %}
      <li>
        {{ item | json }}
        {{ item.product_bundle_item.product }}
        {{ item.product_bundle_item.product_quantity }}
      </li>
    {% endfor %}
  </ul>
</div>

{% style %}
{% endstyle %}
