{% assign bundle_1 = product.metafields.custom.product_bundle_1.value %}
<div>
  {% for metaobject in bundle_1 %}
    {% assign quantity = metaobject.variant_quantity | times: 1 %}
    {% for product_quantity in (1..quantity) %}
      <select>
        {% for variant in metaobject.product_variants.value %}
          <option value="{{ variant.id }}">
            {{ variant.product.title }}
          </option>
        {% endfor %}
      </select>
    {% endfor %}
  {% endfor %}
</div>

{% style %}
{% endstyle %}
