bundles here 1

<div>
  <ul>
    {% for item in product.metafields.custom.product_bundle_1.value %}
      <li>
        {{ item.product | json }}
      </li>
    {% endfor %}
  </ul>
</div>

{% style %}
{% endstyle %}
