{{ product }}

{% assign bundle_1 = product.metafields.custom.product_bundle_1.value %}
<div>
  <ul>
    {% for item in bundle_1 %}
      <li>
        {{ item.product.value }}
        {{ item.product_quantity }}
      </li>
    {% endfor %}
  </ul>
</div>

{% style %}
{% endstyle %}
