{% assign bundle_1 = product.metafields.custom.product_bundle_1.value %}
<div>
  <ul>
    {% for variants in bundle_1.product_variants.value %}
      <li>
        {{ variants | json }}
      </li>
    {% endfor %}
  </ul>
</div>

{% style %}
{% endstyle %}
